:root {
    --mdc-list-item-graphic-margin: 16px;
    --mdc-theme-primary: #48c;
    --mdc-theme-secondary: #84c;
    --mdc-drawer-width: 380px;
}

/* github.com/material-components/material-web/issues/705#issuecomment-656317015 */
mwc-drawer:not([type="modal"]) {
    --mdc-top-app-bar-width: calc(100% - var(--mdc-drawer-width));
}

mwc-list-item[graphic=large] {
    --mdc-list-item-graphic-size: 130px;
}

mwc-slider {
    --mdc-theme-secondary: var(--mdc-theme-primary);
}

body {
    margin: 0;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/Material-Icons.woff2) format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/Roboto.ttf) format("truetype");
}